.lf-trans-fast {
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
}

.vue-lottie-player {
  font-family: averta_stdregular;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #fff;
}

.lf-bg-grey-lightest {
  background-color: #f8fafc;
}

.bg-white {
  background-color: #fff;
}

.lf-border-grey-light {
  border-color: #dae1e7;
}

.lf-rounded-md {
  border-radius: 0.375rem;
}

.lf-rounded-full {
  border-radius: 9999px;
}

.lf-border {
  border-width: 1px;
  border-style: solid;
}

.lf-triangle-border {
  border-left-width: 0;
  border-bottom-width: 0;
  border-style: solid;
  transform: rotate(135deg);
  border-radius: 0px 3px 0px 0px;
  bottom: -8px;
  right: 20px;
}

.lf-border-t {
  border-top-width: 1px;
}

.lf-border-r {
  border-right-width: 1px;
}

.cursor-pointer {
  cursor: pointer;
}

.lf-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lf-flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.lf-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.lf-justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.font-lf-bold {
  font-family: averta_stdbold;
}

.lf-h-4 {
  height: 1rem;
}

.lf-h-5 {
  height: 1.25rem;
}

.lf-h-8 {
  height: 2rem;
}

.lf-h-full {
  height: 100%;
}

.lf-mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.lf-mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.lf-mb-1 {
  margin-bottom: 0.25rem;
}

.lf-mb-3 {
  margin-bottom: 0.75rem;
}

.lf-mb-4 {
  margin-bottom: 1rem;
}

.lf-mb-18 {
  margin-bottom: 4.5rem;
}

.lf-w-full {
  width: 100%;
}

.lf-min-w-6 {
  min-width: 1.5rem;
}

.lf-min-w-8 {
  min-width: 2rem;
}

.lf-opacity-50 {
  opacity: 0.5;
}

.lf-opacity-70 {
  opacity: 0.7;
}

.outline-none {
  outline: 0;
}

.lf-p-2 {
  padding: 0.5rem;
}

.lf-p-3 {
  padding: 0.75rem;
}

.lf-py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.lf-px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.lf-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.lf-px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.lf-py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.lf-py-2px {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.lf-fixed {
  position: fixed;
}

.lf-absolute {
  position: absolute;
}

.lf-relative {
  position: relative;
}

.lf-pin-r {
  right: 0;
}

.lf-pin-b {
  bottom: 0;
}

.lf-pin-l {
  left: 0;
}

.lf-text-center {
  text-align: center;
}

.text-grey-darkest {
  color: #3d4852;
}

.text-grey-dark {
  color: #8795a1;
}

.lf-text-xs {
  font-size: 0.75rem;
}

.lf-text-sm {
  font-size: 0.875rem;
}

.lf-w-4 {
  width: 1rem;
}

.lf-w-5 {
  width: 1.25rem;
}

.lf-w-8 {
  width: 2rem;
}

.lf-w-86 {
  width: 22rem;
}

.lf-spinner {
  height: 64px;
  width: 64px;
  border: 5px solid #14ccce;
  border-right-color: transparent;
  border-radius: 50%;
  margin: 0 auto;
  -webkit-animation: rotate .8s linear infinite;
  animation: rotate .8s linear infinite;
  z-index: 1;
  position: absolute
}

@-webkit-keyframes rotate {
  to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn)
  }
}

@keyframes rotate {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }
  to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn)
  }
}

#lf-range {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 0.25rem;
  background: transparent;
  font: 1em/1 arial, sans-serif;
  outline: 0;
  border-radius: 5px;
}

#lf-range,
#lf-range::-webkit-slider-thumb {
  -webkit-appearance: none;
}

#lf-range::-webkit-slider-runnable-track {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 0.25rem;
  background: none;
  border-radius: 10px;
}

#lf-range::-moz-range-track {
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 0.25rem;
  background: none;
  border-radius: 10px;
}

#lf-range::-ms-track {
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 0.25rem;
  background: none;
  border-radius: 10px;
}

#lf-range::-webkit-slider-thumb {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #006b78;
  margin-top: -5px;
}

#lf-range::-moz-range-thumb {
  box-sizing: border-box;
  border: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #006b78;
  margin-top: -5px;
}

#lf-range::-ms-thumb {
  margin-top: 0;
  box-sizing: border-box;
  border: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #006b78;
  margin-top: -5px;
}

#lf-range::-ms-tooltip {
  display: none;
}

@media (min-width: 576px) {
  .lf-sm\:mb-0 {
    margin-bottom: 0;
  }
}